*.class
*~
DEADJOE
.#*
*.jar
*.zip
bin/
gen/
bin/*
gen/*
libs/
libs/*
compiled/
compiled/*
local.properties
build.xml
assets/build.properties
.settings/
.settings/*
res/xml/app_license.xml

#http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project
.gradle
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build
.idea/gradle.xml
.idea/gradle.xml