<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="${applicationCode}" tools:node="replace">

<uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Fireinstaller Donate"
        android:theme="@style/AppTheme" >
        <activity tools:replace="android:name,android:label"
            android:name="com.dlka.fireinstaller.MainActivity"
            android:label="Fireinstaller Donate">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        //fix for white or black empty screen on app startup, see https://code.google.com/p/android/issues/detail?id=82157

        <activity tools:replace="android:parentActivityName"
            android:name="com.dlka.fireinstaller.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.dlka.fireinstaller.MainActivity" >
            <meta-data tools:replace="android:value"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dlka.fireinstaller.MainActivity" />
        </activity>
        <activity tools:replace="android:parentActivityName"
            android:name="com.dlka.fireinstaller.DebugActivity"
            android:label="@string/title_activity_debug"
            android:parentActivityName="com.dlka.fireinstaller.MainActivity" >
            <meta-data tools:replace="android:value"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dlka.fireinstaller.MainActivity" />
        </activity>
    </application>

</manifest>